* {
    background-color: aquamarine;
}

h1 {
    font-style: italic;
    font-weight: bold;
}

#type1 {
    color: peru;
    font-style: oblique;
}

.type2 {
    color: blueviolet;
}

button:hover{
    color: rgb(71, 10, 114);
    background-color: tomato;
    cursor: pointer;
}

.parent {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 500px;
    position: relative;
}

.child button {
    background-color: burlywood;
    color: blue;
    width: 100%;
    bottom: 0%;
    position: absolute;
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .sub1 p:nth-child(1){
    color: crimson;
}
.main .sub1 p:nth-child(2){
    color: darkslategray;
}

.boy .band >p {
    color: purple;
}

.girl .gang +p {
    color: hotpink;
}

.BTS .boys ~p {
    color: blueviolet;
}

.container.content p {
    color: yellowgreen;
}

.p .bit.hit {
    color: brown;
}